<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjcycc.lottery.mapper.PlayCategoryMapper">

    <resultMap type="org.yjcycc.lottery.entity.PlayCategory" id="PlayCategoryMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="singleCount" column="single_count" jdbcType="INTEGER"/>
        <result property="singleAmount" column="single_amount" jdbcType="NUMERIC"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--通过主键查询单个-->
    <select id="getById" resultMap="PlayCategoryMap">
        select
          id, name, code, single_count, single_amount, create_time, update_time
        from yjcycc_lottery.bs_play_category
        where id = #{id}
        limit 1
    </select>
    
    <!--通过实体查询单个-->
    <select id="get" resultMap="PlayCategoryMap" parameterType="PlayCategory">
        select
          id, name, code, single_count, single_amount, create_time, update_time
        from yjcycc_lottery.bs_play_category
        where id = #{id}
        limit 1
    </select>

    <!--通过实体查询指定行数据-->
    <select id="findPager" resultMap="PlayCategoryMap">
        select
          id, name, code, single_count, single_amount, create_time, update_time
        from yjcycc_lottery.bs_play_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="singleCount != null">
                and single_count = #{singleCount}
            </if>
            <if test="singleAmount != null">
                and single_amount = #{singleAmount}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    
    <!--通过Map查询指定行数据-->
    <select id="findPagerByMap" resultMap="PlayCategoryMap">
        select
          id, name, code, single_count, single_amount, create_time, update_time
        from yjcycc_lottery.bs_play_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="singleCount != null">
                and single_count = #{singleCount}
            </if>
            <if test="singleAmount != null">
                and single_amount = #{singleAmount}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="findList" resultMap="PlayCategoryMap">
        select
          id, name, code, single_count, single_amount, create_time, update_time
        from yjcycc_lottery.bs_play_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="singleCount != null">
                and single_count = #{singleCount}
            </if>
            <if test="singleAmount != null">
                and single_amount = #{singleAmount}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--通过Map作为筛选条件查询-->
    <select id="findListByMap" resultMap="PlayCategoryMap">
        select
          id, name, code, single_count, single_amount, create_time, update_time
        from yjcycc_lottery.bs_play_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="singleCount != null">
                and single_count = #{singleCount}
            </if>
            <if test="singleAmount != null">
                and single_amount = #{singleAmount}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into yjcycc_lottery.bs_play_category(name, code, single_count, single_amount, create_time, update_time)
        values (#{name}, #{code}, #{singleCount}, #{singleAmount}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update yjcycc_lottery.bs_play_category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="singleCount != null">
                single_count = #{singleCount},
            </if>
            <if test="singleAmount != null">
                single_amount = #{singleAmount},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from yjcycc_lottery.bs_play_category where id = #{id}
    </delete>

    <!--通过实体删除-->
    <delete id="delete">
        delete from yjcycc_lottery.bs_play_category 
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="singleCount != null">
                and single_count = #{singleCount}
            </if>
            <if test="singleAmount != null">
                and single_amount = #{singleAmount}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </delete>

    <!--批量删除-->
    <delete id="batchDelete">
        delete from yjcycc_lottery.bs_play_category 
        where 
        id in (${ids})
    </delete>

</mapper>