<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjcycc.lottery.mapper.SysParameterMapper">

    <resultMap type="org.yjcycc.lottery.entity.SysParameter" id="SysParameterMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--通过主键查询单个-->
    <select id="getById" resultMap="SysParameterMap">
        select
          id, code, value, create_time, update_time
        from yjcycc_lottery.sys_parameter
        where id = #{id}
        limit 1
    </select>
    
    <!--通过实体查询单个-->
    <select id="get" resultMap="SysParameterMap" parameterType="SysParameter">
        select
          id, code, value, create_time, update_time
        from yjcycc_lottery.sys_parameter
        where id = #{id}
        limit 1
    </select>

    <!--通过实体查询指定行数据-->
    <select id="findPager" resultMap="SysParameterMap">
        select
          id, code, value, create_time, update_time
        from yjcycc_lottery.sys_parameter
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    
    <!--通过Map查询指定行数据-->
    <select id="findPagerByMap" resultMap="SysParameterMap">
        select
          id, code, value, create_time, update_time
        from yjcycc_lottery.sys_parameter
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="findList" resultMap="SysParameterMap">
        select
          id, code, value, create_time, update_time
        from yjcycc_lottery.sys_parameter
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--通过Map作为筛选条件查询-->
    <select id="findListByMap" resultMap="SysParameterMap">
        select
          id, code, value, create_time, update_time
        from yjcycc_lottery.sys_parameter
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into yjcycc_lottery.sys_parameter(code, value, create_time, update_time)
        values (#{code}, #{value}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update yjcycc_lottery.sys_parameter
        <set>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="value != null and value != ''">
                value = #{value},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from yjcycc_lottery.sys_parameter where id = #{id}
    </delete>

    <!--通过实体删除-->
    <delete id="delete">
        delete from yjcycc_lottery.sys_parameter 
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </delete>

    <!--批量删除-->
    <delete id="batchDelete">
        delete from yjcycc_lottery.sys_parameter 
        where 
        id in (${ids})
    </delete>

</mapper>